<h1>
  Edit Movie - <%=h @movie.title %>
</h1>

<% form_for @movie do |f| -%>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :plot %><br />
    <%= f.text_area :plot %>
  </p>

  <p><%= submit_tag 'Update' %></p>
<% end -%>

